<div id='content_left' class='left container'>
	<div id='smith_beason_pic_container'>
	</div>
	<div id='specializations_container'>
		<div id='specialization_header'>
			Specializations
		</div>
		<div class='specialization'>
			Trauma
		</div>
		<div class='specialization'>
			Anxiety
		</div>
		<div class='specialization'>
			Borderline Personality Disorder
		</div>
		<div class='specialization'>
			Grief & loss
		</div>
		<div class='specialization'>
			Life transitions
		</div>
		<div class='specialization'>
			Relationship issues
		</div>
	</div>
</div>
<div id='content_right' class='right container'>
	<p>
		Welcome to my website. I understand that seeking mental health treatment is often a
		frightening task and you have taken an important first step by gathering information
		about available assistance and beginning the process of healing. 
	</p>
	<p>
		I believe that we are all driven toward leading healthy and whole lives from an early age but can become
		tripped up by life circumstances, losing our direction and sight of who we are and who
		we want to become. As a therapist, I help my clients to understand how their past
		experiences have shaped their approach to life today and to identify ways in which their
		current approach is not working for them. Additionally, we work together to identify and
		employ more effective ways of functioning. 
	</p>
	<p>
		I view people as naturally drawn toward
		interpersonal interaction and believe that much of the healing that occurs in therapy takes
		place within the safety of the therapeutic relationship. I am aware that the process of
		healing can be a painful one and I walk through the pain and difficulty with my clients, so
		they do not have to do it alone.
	</p>
	<p>
		-- Dr. Beason-Smith
	</p>
</div>
