/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background: #5D8AA8; /* air force blue */
}
#site_container {
	width: 700px;
	height: 800px;
	margin: 10px;
	margin-left: -350px;
	position: relative;
	left: 50%;
	color: #36454F /* charcoal */
}
img {
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #36454F /* charcoal */
  border-style: solid;
  border-width: 1px;
}
#therapy_comic_strip {
	margin: 0px 75px;
}
#profile_pic{
	width: 219px;
	height: 230px; 
	margin: 15px;  
}
.container {
	/*background: #72A0C1; /* air superiority blue */
	background: #87CEEB; /* sky blue */
	width: 700px;
	margin-bottom: 10px;
}
#banner_container {
	height: 200px;
}
#navbar_container {
	height: 50px;
}
#footer_container {
	height: 50px;
}
#content_container {
	height: 500px;
	margin-bottom: 10px;
}
#content_left{
	width: 249px;
	height: 500px
}
#content_right{
	width: 449px;
	height: 480px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#content_container p {
	padding-left: 25px;
	padding-right: 25px;
	font-size: 11pt;
}
.navbar_link {
	width: 175px;
	height: 35px;
	float: left;
	text-align: center;
	padding-top: 15px;
}
.navbar_link:hover {
	background: #6D9BC3; /* cerulean frost */
	color: #FDF5E6; /* old lace */
}
.half_left_container {
	height: 250px;
}
.half_right_container {
	height: 230px;
	margin: 10px 10px;
}
#specialization_header {
	text-align: center;
	height: 20px;
	padding-top: 10px;
}
.underline {
	text-decoration: underline;
}
.specialization {	
	text-align: center;
	height: 25px;
	padding-top: 10px;
	font-size: 11pt;
}
.specialization:hover {
	background: #6D9BC3; /* cerulean frost */
	color: #FDF5E6; /* old lace */
}
.left {
 float: left;
}
.right {
	float: right;
}
#content_right li {
	font-size: 11pt;
	padding-right: 25px;
}
#padding {
	padding-top: 50px;
}
#padding_small {
	padding-top: 20px;
}
.no_pad_top {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
#facility_pic {
	width: 429px;
	height: 220px;
}
