<div id='content_right' class='right container'>
	<p>
		My background includes a Master's degree and a PhD in 				
		counseling psychology from the University of Houston. I 
		completed a clinical internship and fellowship at the Michael 
		E. Debakey VA in Houston. I have 12 years of clinical 	
		experience working in psychiatric hospitals, community mental 
		health centers, and independent private practice. In my work I 
		I have had the opportunity to work with a wide variety of clints,
		including combat Veterans, families grieving the death of a 
		loved one, individuals living with chronic illness, and 
		survivors of childhood and adult physical, sexual, and emotional
		abuse.
	</p>
	<p>
		I offer psychotherapy services to adults and adolescents 
		(14-18 years) with a wide range of presenting problems, 
		including anxiety, mood, adjustment, and interpersonal 
		difficulties. I especially enjoy working with survivors of 
		trauma and have specialized training with combat Veterans and 
		survivors of childhood abuse, rape, and interpersonal 
		violence. I have training and experience in trauma-focused 
		treatments, such as Eye Movement Desensitization and 
		Reprocessing (EMDR), Prolonged Exposure, and Cognitive 	
		Processing Therapy, and also employ interpersonal and 
		attachment perspectives to the work I do.
	</p>
</div>
