<div id='content_right' class='right container'>
	<div id='facility_picture_container' class='half_right_container'>
		<%= image_tag 'facility_pic.jpg', :id => 'facility_pic'%>
	</div>
	<div id='map_container' class='half_right_container'>
	</div>
</div>
