<div id='footer_container' class='container'>
	<div class='left'>
		<p>1110 Kingwood Drive, Suite 235 | Kingwood TX, 77339</p>
		<p>2524 Nottingham                | Houston TX, 77005</p>	
	</div>
	<div class='right'>
		<p class='no_pad_top'>713-376-5924</p>
		<p class='no_pad_top'>MelissaBeasonSmith@gmail.com</p>
	</div>
</div>
