<div id='banner_container' class='container'>
	<%= image_tag 'River_sm.JPG', :id => 'banner_pic'%>
	<div id='vision_statement_container'>
		<p id='signature'>Dr. Melissa Beason-Smith</p>
		<p id='vision_statement'>Your vision statement here</p>
	</div>
</div>
