<div id='content_left' class='left container'>
	<div id='smith_beason_pic_container'>
		<%= image_tag 'profile_small.jpg', :id => 'profile_pic'%>
	</div>
	<div id='specializations_container'>
		<div id='specialization_header'>
			Specializations
		</div>
		<div class='specialization' id='trauma'>
			Trauma
		</div>
		<div class='specialization' id='anxiety'>
			Anxiety
		</div>
		<div class='specialization' id='borderline'>
			Borderline Personality Disorder
		</div>
		<div class='specialization' id='grief'>
			Grief & Loss
		</div>
		<div class='specialization' id='life'>
			Life Transitions
		</div>
		<div class='specialization' id='relationship'>
			Relationship Issues
		</div>
	</div>
</div>
