<div id='navbar_container' class='container'>
	<div id='home_link' class='navbar_link'>
		Home
	</div>
	<div id='why_therapy_link' class='navbar_link'>
		Why Therapy?
	</div>
	<div id='about_me_link' class='navbar_link'>
		About Me
	</div>
	<div id='contact_link' class='navbar_link'>
		Contact
	</div>
</div>
