<div id='navbar_container' class='container'>
	<div id='home' class='navbar_link'>
		Home
	</div>
	<div id='why_therapy' class='navbar_link'>
		Why Therapy?
	</div>
	<div id='about_me' class='navbar_link'>
		About Me
	</div>
	<div id='contact' class='navbar_link'>
		Contact
	</div>
</div>
